@font-face {
	font-family: 'Pokemon Gameboy';
	src: url('./assets/fonts/PKMN\ RBYGSC.ttf');
}

header {
	display: flex;
	justify-content: center;
}

header img {
	width: 60vw;
}

#search-container {
	width: 70vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-top: 48px;
}

#poke-search {
	flex-grow: 1;
	font-size: 3vw;
	text-indent: 10px;
	border-radius: 50px;
	box-shadow: 2px 2px 20px 1px red;
	font-family: 'Montserrat', cursive;
}

#poke-search::placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-size: 2.3vw;
}

#poke-ball-img {
	margin-left: -82px;
	width: 74px;
	height: 74px;
	padding: 3px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

#poke-ball-img:hover {
	transform: scale(1.3) rotate(30deg);
}

.poke-ball-container {
	width: 74px;
	height: 74px;
	transition: all 0.3s ease-in-out;
	animation: pokeball-animation 1.6s ease 0s 1 normal forwards;
}

@keyframes pokeball-animation {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-70vw) rotate(-180deg);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0) scale(1.5);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px) scale(1.4);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-38px) scale(1.2);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.not-found {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 3vw;
	font-family: 'Pokemon Gameboy', cursive;
	color: white;
	word-spacing: 15px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color:rgba(0, 0, 0, 0.9);
	z-index: 3;
}

.not-found p {
	margin-left: 20px;
	margin-top: 100px;
}

.pokemon-card {
	margin: 0 auto;
	margin-top: 70px;
	width: 50%;	
	height: 50vh;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Pokemon Gameboy', cursive;
	font-size: 20px;
}

.pokemon-title {
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 2vw;
	margin-bottom: 50px;
}

.pokemon-info {
	margin-top: -30px;
	margin-bottom: auto;
	align-self: flex-start;
	margin-left: 40px;
	word-spacing: 13px;
}

.pokemon-img {
	margin-top: -100px;
	width: 40%;
	padding: 0px;
}